name: Deploy to EC2

on:
  workflow_dispatch:   # Se ejecuta manualmente
  push:
    branches:
      - main           # Ejecuta en cada push a main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build project with Maven
        run: mvn clean package -DskipTests

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: petclinic-jar
          path: target/*.jar
